body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  box-sizing: border-box;
}

.container {
  margin: 0 5rem;
  height: auto;
}

.title {
  font-size: 7rem;
  width: 60%;
}

.main {
  width: 46%;
  margin-bottom: 1rem;
}

.info {
}

.today {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}

.sols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
}

.sol {
  padding: 10px 20px;
  background-color: rgba(249, 220, 193, 0.4);
  text-align: center;
  min-width: 180px;
  flex: 1;
}

@media only screen and (max-width: 968px) {
  .container {
    margin: 0 5%;
  }

  .title {
    padding: 0;
    width: 100%;
    font-size: 4rem;
  }

  .main {
    width: 100%;
  }

  .today {
    text-align: center;
  }

  .sols {
    flex-direction: column;
  }
}
