body {
  margin: 0;
  padding: 0;
  background-image: url("images/background.jpg");
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-left: 50px;
  font-size: 4rem;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 40px 0;
}

.info {
  width: 40%;
  background-color: rgba(220, 185, 153, 0.6);
  padding: 20px 35px;
  margin-bottom: 30px;
}

.today {
  width: 25%;
  background-color: rgba(220, 185, 153, 0.5);
  padding: 10px 35px;
  margin-bottom: 30px;
}

.sol {
  padding: 10px 20px;
  background-color: rgba(249, 220, 193, 0.4);
}

.sol h4 {
  margin-top: 8px;
  text-align: center;
}

.sol p {
  font-size: smaller;
  margin: 6px 0;
}
